{{ define "main" }}
  <style>
    .home-about-page {
      font-size: 16px;
    }

    .home-about-page h3 {
      font-size: 24px;
    }

    .home-about-page > ul {
      padding-left: 0;
      list-style-position: inside;
    }

    .home-about-page > ul > li {
      margin-bottom: 1em;
      line-height: 1.9;
    }
  </style>

  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    <div class="post__content home-about-page">
      {{ .Content }}
    </div>


  </div>

  {{ if .Params.mainSectionsTitle }}
    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      <div class="post__content">
        <h2>{{ .Params.mainSectionsTitle }}</h2>
      </div>
    </div>
  {{ end }}


{{ end }}
